---
import Layout from '../layouts/Layout.astro'
import { Image } from 'astro:assets'
import profileImg from '../assets/Profile.png'

const pageTitle = 'About'
---

<Layout title={pageTitle}>
  <div class='md:max-w-[66.7%] mx-auto'>
    <div class='flex justify-center mt-24'>
      <Image src={profileImg} alt='Profile image' class='w-[300px]' />
    </div>
    <div class='mt-[40px] mb-20'>
      <h2 class='mb-5 font-bold text-[18px]'>ABOUT</h2>
      <div class='flex flex-col gap-4'>
        <p>
          Passionate Frontend Developer with a keen eye for detail and a
          dedication to delivering seamless user experiences. Proficient in
          HTML, CSS, JavaScript/TypeScript, and React, I thrive on translating
          designs into high-performance, responsive websites and web
          applications.
        </p>
        <p>
          With a deep understanding of UI/UX principles, I constantly strive to
          create intuitive interfaces that captivate users and drive engagement.
          Utilizing my problem-solving skills, I enjoy collaborating with teams
          to find refined solutions to complex challenges.
        </p>
        <p>
          As a proactive learner, I eagerly embrace new technologies and best
          practices, ensuring I stay at the forefront of industry trends. Let's
          connect and explore opportunities to collaborate on projects where I
          can bring my passion for frontend development to create visually and
          functionally exceptional digital experiences.
        </p>
      </div>
    </div>
    <div class='mb-20'>
      <h2 class='mb-5 font-bold text-[18px]'>INTERESTS</h2>
      <p>🏋️‍♂️ Lifting at the local Fitness Center</p>
      <p>☕ Scouting for the best coffee shops</p>
      <p>🎧 Listening to music</p>
    </div>
    <div class='mb-20'>
      <h2 class='mb-5 font-bold text-[18px]'>EXPERIECE</h2>
      <p>
        I completed my professional bachelor's degree in Web Development in
        January 2021. During my studies, I also explored freelance work,
        building hands-on experience as a frontend developer. Additionally, I
        had the opportunity to be an intern at both <a
          class='hover:text-primary-dark underline hover:no-underline duration-200 ease-in-out'
          href='https://nuuday.dk/'
          target='_blank'>Nuuday</a
        >, which provided valuable industry insights and ultimately led to my
        full-time position as a software engineer.
      </p>
    </div>
    <div>
      <p>Want to know more?</p>
      <a
        href='https://drive.google.com/file/d/1OEIQhEV7trxcOaMyt8Qc74k5XMgloArp/view?usp=drive_link'
        target='_blank'
        rel='noreferrer'
        class='hover:text-primary-dark underline hover:no-underline duration-200 ease-in-out'
      >
        Download my resume here
      </a>
      <p class='mt-8'>Don't hesitate to reach out!</p>
    </div>
  </div>
</Layout>
