---
import Layout from '../layouts/Layout.astro'
import { Image } from 'astro:assets'
import profileImg from '../assets/Profile.png'

const pageTitle = 'About'
---

<Layout title={pageTitle}>
  <div class='flex justify-center mt-24'>
    <Image src={profileImg} alt='Profile image' class='w-[300px]' />
  </div>
  <div class='mt-[40px] mb-8 text-grey'>
    <h2 class='mb-5 font-bold text-[18px]'>ABOUT</h2>
    <p>
      Passionate Frontend Developer with a keen eye for detail and a dedication
      to delivering seamless user experiences. Proficient in HTML, CSS,
      JavaScript/TypeScript, and React, I thrive on translating designs into
      high-performance, responsive websites and web applications.<br /><br />
       With a deep understanding of UI/UX principles, I constantly strive to
      create intuitive interfaces that captivate users and drive engagement.
      Utilizing my problem-solving skills, I enjoy collaborating with teams to
      find refined solutions to complex challenges.<br /><br />
       As a proactive learner, I eagerly embrace new technologies and best
      practices, ensuring I stay at the forefront of industry trends. Let's
      connect and explore opportunities to collaborate on projects where I can
      bring my passion for frontend development to create visually and
      functionally exceptional digital experiences.
    </p>
  </div>
  <div class='mb-8 text-grey'>
    <h2 class='mb-5 font-bold text-[18px]'>INTERESTS</h2>
    <p>
      🏋️‍♂️ Lifting at the local Fitness Center<br />
       ☕ Scouting for the best coffee shops<br />
       🎧 Listening to music
    </p>
  </div>
</Layout>
