---
import Nav from '../components/Nav.astro'
import Layout from '../layouts/Layout.astro'
---

<Layout title='Home | Abdullah Öksüz'>
  <main>
    <Nav navItems={['Home', 'About']} />
  </main>
</Layout>
