---
import Projects from '../components/Projects.astro'
import Layout from '../layouts/Layout.astro'

const pageTitle = 'Home'
---

<Layout title={pageTitle}>
  <div class='mt-44 mb-24'>
    <h1 class='text-h1 bold font-bold'>Hello, I'm Abdullah</h1>
    <p class='text-grey mt-1 mb-2'>
      I'm a digital web developer with a knack for clean and modern web design.
      <br />
       Currently a Frontend Development at <a
        href='https://www.capgemini.com/'
        class='hover:text-primary-dark underline'>Capgemini</a
      >.
    </p>
    <a
      class='border-[1px] justify-center items-center flex h-[24px] rounded-[3px] text-[12px] border-grey text-grey hover:bg-grey hover:text-white ease-in-out duration-200 w-[84px]'
      href='https://drive.google.com/file/d/15s1iN9ULOUo54psdZ800f8wtHwU8x_0J/view?usp=drive_link'
      target='_blank'
      rel='noreferrer'
    >
      Resume
    </a>
  </div>
  <Projects />
</Layout>
