---
import Layout from '../layouts/Layout.astro'

const pageTitle = 'Home'
---

<Layout title={pageTitle}>
  <div class='mt-44'>
    <h1 class='text-h1 bold font-bold'>Hello, I'm Abdullah</h1>
    <p class='text-p text-grey mt-1'>
      I'm a digital web developer with a knack for clean and modern web design.
      <br />
       Currently a Frontend Development at <a
        href='https://www.capgemini.com/'
        class='hover:text-primary-dark underline'>Capgemini</a
      >.
    </p>
  </div>
</Layout>
