---
interface Props {
  navItems: string[]
}

const { navItems } = Astro.props
---

<div class='flex'>
  {
    navItems.map((item) => (
      <a href={item === 'Home' ? '/' : item.toLowerCase()}>{item}</a>
    ))
  }
</div>
