---
import Nav from '../components/Nav.astro'

interface Props {
  title: string
}

const { title } = Astro.props
---

<!doctype html>
<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='description' content='Astro description' />
    <meta name='viewport' content='width=device-width' />
    <link rel='icon' type='image/svg+xml' href='/fav.svg' />
    <link rel='preconnect' href='https://fonts.googleapis.com' />
    <link rel='preconnect' href='https://fonts.gstatic.com' crossorigin />
    <link
      href='https://fonts.googleapis.com/css2?family=Kanit:wght@300&family=Saira:wght@700&display=swap'
      rel='stylesheet'
    />
    <title>{title} | Abdullah Öksuz</title>
  </head>
  <body
    class='w-[100vw] overflow-x-hidden bg-white dark:bg-grey-dark p-8 justify-center flex text-black dark:text-grey-light selection:bg-primary-select selection:text-primary'
  >
    <div class='w-[1024px]'>
      <Nav navItems={['Home', 'About']} />
      <main>
        <slot />
      </main>
    </div>
  </body>
</html>
